@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: #ebecf0;
}

.container {
  min-height: 100vh - 2.5;
  @apply mx-auto max-w-[400px] flex flex-col relative;

  .box {
    @apply p-4 mt-12 bg-white rounded-xl text-gray-900;
  
    .title {
      @apply mb-8 text-[34px] font-medium leading-9;
    }

    .text {
      @apply text-lg font-medium leading-6 text-gray-800;
    }
  
    .language-button {
      @apply p-3 h-[120px] bg-[#ebecf0] rounded-2xl
             flex flex-col justify-between flex-1
             font-medium text-lg text-gray-800 border border-[#18a53c] enabled:border-none;
    }

    .continue-button {
      @apply w-full py-4 bg-[#18a53c] text-white font-medium rounded-2xl;
    }
    .bottom {
      @apply w-full absolute bottom-4 left-0;
    }
  
    input {
      @apply max-w-[335px] w-full pr-2 py-4 bg-transparent text-xl font-bold outline-none;
    }
  }

  .history {
    @apply px-4;

    h1 {
      @apply text-[34px] font-bold;
    }

    &-box {
      @apply mt-6 flex items-center gap-2;
      &__item {
        @apply p-3 flex-1 bg-white rounded-3xl;
        div {@apply text-sm font-semibold text-gray-400;}
        p {@apply mt-0.5 font-bold;}
      }
    }
  }

  .transaction {
      @apply mt-6 py-5 px-4 bg-white rounded-2xl;
      .filter-box {
        @apply flex items-center gap-2;
        div {@apply py-1.5 px-2 bg-gray-200 rounded-2xl}
        button {
          @apply py-1.5 px-3 inline-block bg-gray-200 rounded-[18px] font-semibold 
               disabled:bg-gray-100;
               img {
                @apply pointer-events-none
               }
        }
      }
      h3 {
        @apply text-lg font-bold text-gray-800;
      }
      &-box {
        @apply mt-6 flex flex-col gap-5;
      }
      &-item {
        @apply flex items-center justify-between;
      }
  }
}